
.sidebar-container {
    width: 100%;
    min-height: 5rem;
    padding: 0 1.5rem;
    background: $sidebar_background_color;

    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: .1rem solid $sidenav__border-color;
        align-items: center;

        & > h1 {
            color: #fff;
            padding: .7rem 0;
            font-size: 2.4rem;
            font-weight: normal;
            color: $sidenav__icon-color;

            & > span {
                color: #fff;
            }
        } 
    }

    &__mobile-menu {
        color: $sidenav__icon-color;
        cursor: pointer;
    
    }

    &__mobile-nav {
        flex: 0 0 100%;
        height: 600px;
        background-color: chocolate;
    }

    &__nav {
        flex: 0 0 100%;
        display: none;

        & > h2 {
            padding: .5rem 0;
            font-size: 1.6rem;
            font-weight: bold;
            color: $sidenav__icon-color;
            text-transform: uppercase;
            border-bottom: .1rem solid $sidenav__border-color
        }
    }

    .nav__link-list {
        justify-content: start;
        flex: 0 0 100%;
        align-items: center;
        margin: .5rem 0 3rem 0;

        & > li {
            font-size: 1.4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            color: $sidenav__font-color;

            .link-icon {
                padding-right: 2rem;
                display: inline-block;
                align-items: center;
                margin-top: .2rem;
                color: $sidenav__icon-color;

                svg {
                    height: 1.6rem;
                    width: 1.6rem;
                }
            }

            .link-text {
                letter-spacing: .1rem;
            }
        }
    }
}




@media only screen and ($extra-small) {
    .sidebar-container {
        width: 280px;
        min-height: 100%;
        height: 100vh;

        &__mobile-nav,
        &__mobile-menu {
            display: none;
        }

        &__header {
            
            justify-content: center;

            & > h1 {
                color: #fff;
                padding: 1.5rem 0;
                font-size: 2.4rem;
                font-weight: normal;
                color: $sidenav__icon-color;
    
                & > span {
                    color: #fff;
                }
            } 
        }

        &__nav {
            display: block;
        }


    }
    
}