

.topnav {
    flex: 0 0 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: start;
    height: 7rem;
    border-bottom: .1rem solid $sidenav__border-color;

    &__item {
        align-items: center;
        margin: 0 1.5rem;
    }

    &__item:first-child {
        margin-left: 7.5rem;
    }
}