

$color__primary: #6E9B34;
$color__page-background: #f1f2f7;


$sidebar_background_color: #272c33;
$sidenav__border-color: #4e4e52;
$sidenav__font-color: #c8c9ce;
$sidenav__icon-color: #9496a1;


$topnav__item-border-color: #272c33;
$topnav__item-hover-bg-color: #c2c9d3;
$topnav__searchbar-bg-color: #263238;



// Responsive breakpoints.
$extra-small:  'min-width: 575px';

:root {
    background: $color__page-background;
}